---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Política de Privacidade"
	description="Informações sobre como tratamos seus dados no portal Receita Grátis."
	pubDate={new Date('May 13 2026')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		A sua privacidade é importante para nós. É política do <strong>Receita Grátis</strong>, operado pela 
		<strong>A Kochanski Ltda</strong>, respeitar a sua privacidade em relação a qualquer informação sua que possamos coletar no site.
	</p>

	<h2>1. Coleta de Informações</h2>
	<p>
		Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe fornecer um serviço. Fazemo-lo por meios justos e legais, com o seu conhecimento e consentimento.
	</p>

	<h2>2. Google AdSense e Cookies</h2>
	<p>
		Utilizamos o <strong>Google AdSense</strong> para veicular anúncios. O Google utiliza cookies (como o cookie DART) para servir anúncios com base em suas visitas anteriores ao nosso site ou a outros sites na Internet.
	</p>
	<ul>
		<li>Os usuários podem desativar a publicidade personalizada visitando as <a href="https://www.google.com/settings/ads" target="_blank">Configurações de Anúncios</a> do Google.</li>
	</ul>

	<h2>3. Uso de Dados</h2>
	<p>
		Não compartilhamos informações de identificação pessoal publicamente ou com terceiros, exceto quando exigido por lei. Nosso site pode ter links para sites externos que não são operados por nós, como parte das notícias do <strong>Gostei News</strong> ou referências da série <strong>Cura Natureza</strong>.
	</p>

	<h2>4. Compromisso do Usuário</h2>
	<p>
		O usuário se compromete a fazer uso adequado dos conteúdos e da informação que o Receita Grátis oferece no site.
	</p>

	<h2>5. Contato e Identificação</h2>
	<p>
		Esta política é regida pelas leis brasileiras (LGPD). Para dúvidas sobre como lidamos com dados do usuário e informações pessoais, entre em contato com o administrador <strong>Anderson Kochanski</strong>.
	</p>
    <p><strong>Responsável:</strong> A Kochanski Ltda<br>
       <strong>CNPJ:</strong> 40.413.232/0001-96</p>
</Layout>
